.Checkout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .header {
    flex-shrink: 0;
    border-bottom: 1px solid #eee;
    padding: 40px 32px;

    & > .storageAtLabel {
      font-size: 14px;
      margin-bottom: 4px;
    }

    & > .storageAtValue {
      font-weight: 600;
    }

    & > .totalBags {
      display: flex;
      align-items: center;
      margin-top: 32px;

      & > .label {
        flex-grow: 1;
      }

      & > .number {
        padding: 0px 24px;
      }

      & > button {
        // padding: 16px 16px;
        padding: 0px;
        height: 28px;
        width: 28px;
      }
    }
  }

  & > .content {
    flex-grow: 1;
    overflow-y: auto;
    & > div {
      padding: 0px 32px;
    }
    .title {
      font-weight: 500;
      margin-bottom: 10px;
    }
    .PersonalDetails {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .PaymentInformation {
      border-top: 1px solid #e9e9e9;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  & > .footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    border-top: 1px solid #aaa;
    .totalBags {
      font-size: 14px;
      margin-bottom: 4px;
    }
    .totalCost {
      font-weight: 600;
    }
  }

  .submitting {
    color: #fff;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
  }
}
