* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  background-color: #f2f2f2;
}

.App {
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 24px;

  & > .screen {
    border-radius: 4px;
    height: 860px;
    width: 400px;
    background-color: #fff;
  }
}

button {
  cursor: pointer;
  background-color: #629dff;
  padding: 8px 28px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  &:disabled {
    background-color: #a6c8fe;
    cursor: default;
  }
  &.error {
    background-color: #f23030;
    &:disabled {
      background-color: #f16b6b;
    }
  }
}

.textInput {
  & > label {
    display: block;
    color: #666;
    font-size: 14px;
    margin-bottom: 4px;
  }
  & > input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    margin-bottom: 20px;
  }
}
